@import './styles/theme.css'; /* Import the theme variables */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Lato", serif;
  margin: auto;
}
.reffral-income-bg{
  background: url("public/images/refferal-income-bg.webp") center no-repeat;
  background-size: cover;
}
.timeline-shadow{
  box-shadow: 0px 1px 8px 6px #81A1F340;
}
