@import "./styles/theme.css"; /* Import the theme variables */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", serif;
  margin: auto;
}
.reffral-income-bg {
  background: url(../public/images/refferal-income-bg.webp) center no-repeat;
  background-size: cover;
}
.timeline-shadow {
  box-shadow: 0px 1px 8px 6px #81a1f340;
}

.particlecard-bg {
  background: url(../public/images/dashboard/CardParticleBg.svg) no-repeat;
  background-size: contain;
}

/* ==Main heading============= */

.main-heading-text {
  position: relative;
  -webkit-box-reflect: below -117px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.main-heading-text span {
  display: inline-block;
  animation: main 1s infinite;
  animation-delay: calc(0.1s * var(--h));
}

@keyframes main {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20px);
  }
}
/*============= income type============== */
.contain-income-type {
  perspective: 1000px;
}

.contain-income-type img {
  animation: flip 3s infinite;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes flip {
  80% {
    transform: rotateY(360deg);
  }
}
/*============= wallet============== */
.contain-wallet img {
  animation: flip 3s infinite;
  animation-delay: calc(0.3s * var(--w));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/*============= Floating effect ============== */
@keyframes floatEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-rotate {
  animation: floatEffect 3s ease-in-out infinite;
}
/*============= Bouce Effect ============== */
@keyframes bounceEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.bouncing {
  animation: bounceEffect 0.5s 0.3s infinite;
}

.shiny-div {
  position: relative;
  background-color: white;
  color: #2850CC;
  font-size: 32px;
  font-weight: bold;
  padding: 20px 48px;
  border-radius: 24px;
  width: 256px;
  text-align: center;
  overflow: hidden;
  z-index: 9;
}

.shiny-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform: skewX(-25deg);
  z-index: 0;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


.hover-arrow-btn:hover, .left-arrow-button:hover {
  background-color: #28418D; 
}

.hover-arrow-btn, .left-arrow-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease-out; 
}

.hover-arrow-btn:hover .arrow-icon {
  transform: translateX(8px);
}

.left-arrow-icon{
  display: inline-block;
  transition: transform 0.3s ease-out; 
}

.left-arrow-button:hover .left-arrow-icon {
  transform: translateX(-8px);
}
.ju367v9i{
  background: #2850CC !important;
border-radius: 25px !important;
padding: 0px 32px !important;
margin: auto !important;
}
.hero-bg {
  background: linear-gradient(#070E2DD9 85%, #050A20D4 85%, #070D29D9 85%), url(../public/images/hero-bg.webp);
  background-size: cover;
  background-position: center;
}

.work {
  background: url(../public/images/work-img.webp);
  background-size: cover;
  background-position: center;
}
.investment {
  position: relative; /* Required for the pseudo-element */
  overflow: hidden; /* Hide the overflow from the pseudo-element scaling */
}

.investment::before {
  content: '';
  background: url(../public/images/investment-img.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease; /* Smooth transition */
  transform: scale(1); /* Initial scale */
  z-index: 0; /* Place behind other content */
}

.investment:hover::before {
  transform: scale(1.05); /* Scale background image on hover */
}

.cashback{
  background: url(../public/images/cashback-img.webp);
  background-size: cover;
  background-position: center;
}
.cashback {
  position: relative; /* Required for the pseudo-element */
  overflow: hidden; /* Hide the overflow from the pseudo-element scaling */
}

.cashback::before {
  content: '';
  background: url(../public/images/cashback-img.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease; /* Smooth transition */
  transform: scale(1); /* Initial scale */
  z-index: 0; /* Place behind other content */
}

.cashback:hover::before {
  transform: scale(1.08); /* Scale background image on hover */
}

.card{
  background: url(../public/images/card-bg.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.go2072408551{
  background-color: #28418D !important;
  border: 1px solid #28418D !important;
}
.about-bg {
  background: linear-gradient(92.78deg, rgba(55, 62, 84, 0.5) 1.14%, rgba(18, 33, 78, 0.78) 25.13%, rgba(17, 31, 75, 0.79) 60.13%, rgba(55, 62, 84, 0.5) 99.09%), url(../public/images/about-bg.webp);
  background-size: cover;
  background-position: center;
}
.advantage-bg {
  background: url(../public/images/advantage-bg.webp) no-repeat;
  background-size: cover;
  background-position: center;
}
.h-page{
  min-height: calc(100vh - 471px);
}