@import './styles/theme.css'; /* Import the theme variables */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Lato", serif;
  margin: auto;
}
.reffral-income-bg{
  background: url(../public/images/refferal-income-bg.webp) center no-repeat;
  background-size: cover;
}
.timeline-shadow{
  box-shadow: 0px 1px 8px 6px #81A1F340;
}

.particlecard-bg{
  background: url(../public/images/dashboard/CardParticleBg.svg) no-repeat;
}